.page {
  display: flex;
}

@media screen and (min-width: 961px) {
  .page {
  }

  .aside {
    width: 320px;
    margin-right: 40px;
    order: -1;
    flex-shrink: 0;
  }
  
  .content {
  }
}

@media screen and (max-width: 960px) {
  .page {
    flex-direction: column;
  }
  
  .aside__menu {
    display: none;
  }
}