.section__title {
  font-size: 2em;
}

.post__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__name {
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  .section__header {
    font-size: 10px;
  }
  
  .post {
    font-size: 12px;    
  }
}

@media screen and (min-width: 481px) {
  .section__header {
    font-size: 12px;
  }

  .post {
    font-size: 14px;
  }
}